 {#call base html here  #}  
 {% extends 'base.html.twig'%}
 
       {#surchaging page else get error#}
{% block body %}

  <body >
        <div class="row " id="box" style="position:relative; width: 450px;  background: rgba(0, 0, 0, 0.4); padding: 30px; text-align: center;  margin: auto;  margin-top:10%; font-family: 'Century Gothic',sans-serif;";>

            
          
                <img src="profile.jpg" alt="" class="box-img" style="border-radius: 50%;
                width: 100px; height: 100px;">
                <h1 style=" font-size: 40px; color:white;letter-spacing: 4px; font-weight: 100;">  <strong> WELCOM</strong></h1>
               <h5 style=" font-size: 20px; letter-spacing: 3px; font-weight: 100; color:green;"> <strong> Web Devloper - Web Designer</strong></h5>
                  <p style=" text-align: justify;color:white;">
                       A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.<p>
                  {# <ul>
                      <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
              </ul> #}
           
          


      </div>
  </body>
  <!-- END OF TITLE -->
        {# <div class="row " style="position:relative";> #}
{# 
          <div class="col-lg-4 col-sm-6 mt-5">
              <!-- class img-thumbnail pr qu l'image respecte les colonnes rounded pr border radius et rounded-cercle 
            pour le cerclé thumbnail delimite et doone des margin  -->
              <a href=""><img src="{{ asset('images/room.jpg') }}" class="img-thumbnail" alt=" " style="width:100%; height:100%" /></a> 
              <h2 class="my-3 text-warning text-center">Room</h2>
              <p class="text-muted">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatum!
              </p>
          </div>

          <div class="col-lg-4 col-sm-6 mt-5">
              <a href=""><img src="{{ asset('images/lookfar.jpg') }}" class="img-thumbnail" alt=" " style="width:100%; height:100%"/></a>
              <h2 class="my-3 text-warning text-center">Go Over</h2>
              <p class="text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Suscipit.
              </p>
          </div>

          <div class="col-lg-4 col-sm-6 mt-5">
              <a href=""><img src="{{ asset('images/student.jpg') }}" class="img-thumbnail" alt=" " style="width:100%; height:100%"/></a>
              <h2 class="my-3 text-warning text-center">Student</h2>
              <p class="text-muted">
                 click above image if you want give a look student's list or even save a new . 
              </p>
          </div> 

        </div> #}



        
        
      
    <!-- END OF PROJECTS -->
 
   
   
 {% endblock %}